* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --light-g-bg: #edf2ec;
  --white-bg-card: #ffffff;

  --l-grey-text: #636060;
  --h-grey-text: #717171;
  --d-green-text: #499A18;
  --deep-black-text: #000000;
  --orange-text: #E06733;
}
html {
 scroll-behavior: smooth;
 font-size: 10px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 1440px;
  width: 100%;
  background: var(--light-g-bg);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__menu {
  padding: 0 20px; 
}
.header__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.header__list > li {
  list-style: none;
  margin-left: 5px;
  font-size: 1.6rem;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.content__hero {
  font-size: 1.6rem;
}
.content__hero img,
.header img {
  border-radius: 8px;
}
.content__desc {
  max-width: 350px;
  width: 100%;
  height: auto;
  margin-left: 20px;
}
.content__desc > p {
  font-size: 1.6rem;
}